<footer class="footer">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer__item-link">Trung Tâm Trợ Giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer__item-link">Đình Tâm shop</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer__item-link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Giới thiệu</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer__item-link">Giới thiệu</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer__item-link">Tuyển dụng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer__item-link">Điều khoản</a>
                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Danh mục</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer__item-link">T - Shirt</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer__item-link">Polo</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer__item-link">Jacket</a>
                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Theo dõi</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer__item-link">
                                    <i class="footer__item-icon fa-brands fa-facebook"></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer__item-link">
                                    <i class="footer__item-icon fa-brands fa-instagram"></i>
                                    Instagram
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer__item-link">
                                    <i class="footer__item-icon fa-brands fa-linkedin"></i>
                                    linkedin
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-2-4">
                        <h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>

                        <div class="footer__download">
                            <img src="./img/qr_code1.png" alt="QR" class="footer__download-qr">
                            <div class="footer__download-apps">
                                <a href="" class="footer__download-app-link">
                                    <img src="./img/google_play.png" alt="Google Play"
                                        class="footer__download-app-img">
                                </a>
                                <a href="" class="footer__download-app-link">
                                    <img src="./img/app_store.png" alt="App Store"
                                        class="footer__download-app-img">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="footer__bottom">
                <div class="grid">
                    <p class="footer__text">© 2023 - Bản quyền thuộc về Công ty DTam</p>
                </div>
            </div>
        </footer>